*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    max-width: 1145px;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-flow: row wrap;
}

.title {
    text-transform: none;
    font-size: 28px;
    font-weight: 500;
}

.text {
    text-transform: none;
    font-size: 16px;
    font-weight: 300;
    max-width: 390px;
}

.button {
    padding: 14px 40px;
    border: 3px solid white;
    font-size: 13px;
    font-weight: 400;
    color: white;
    max-width: 148px;
}

.white__button {
    padding: 14px 40px;
    border: 3px solid black;
    color: black;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 148px;
}

.grey__button {
    padding: 14px 15px;
    text-align: center;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    max-width: 148px;
    background-color: #ececec;
}

.button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.white__button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.img-wrap-1 {
    position: relative;
    width: 24px;
}

.img-wrap-1 > .img-wrap-2 {
    padding-bottom: 95%;
}

.img-wrap-1 > .img-wrap-2 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
}

.horizontal__divider {
    border-top: 1px solid #d7d7d7;
    width: 100%;
}


/* HEADER */

.header {
    height: 44px;
    background-color: #163052;
}

.header__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.header__logo {
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 1px;
}

.header__text {
    text-transform: uppercase;
    color: white;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
}

.header__logo,
.header__text,
.header__contacts {
    margin-top: 0;
    padding-top: 0;
    height: 44px;
    display: flex;
    align-items: center;
}

.header__contacts {
    display: flex;
    max-width: 220px;
    justify-content: space-between;
    color: white;
    font-size: 11px;
    font-weight: 400;
}

.header__contacts p {
    padding-left: 8px;
}

.header__contacts span {
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding-left: 8px;
}


/* NAVIGATION BAR */

.navbar {
    background-color: #ffffff;
}

.navbar__inner {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__busket {
    display: flex;
    justify-content: space-between;
}

.navbar__link {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 400;
    word-spacing: 2px;
    padding: 28px 10px;
    margin: 0 5px;
    position: relative;
}

.navbar__link:first-child {
    margin-left: 0;
    padding-left: 0;
}

.navbar__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    opacity: 0;
    background-color: #202020;
    position: absolute;
    margin-top: 0px;
    top: 98%;
    left: 0;
    z-index: 1;
    transition: opacity .2s linear;
}

.navbar__link:hover {
    background-color: #f0f0f0;
}

.navbar__link-active:after {
    opacity: 1;
}

.navbar__busket {
    text-transform: uppercase;
    color: black;
    font-size: 12px;
    font-weight: 400;
    word-spacing: 2px;
    line-height: 1.5;
    display: flex;
    align-items: center;
}

.navbar__busket span {
    text-transform: none;
    color: #c2c2c2;
}

.navbar__busket p {
    margin-left: 12px;
}

.divider {
    height: 30px;
    margin-right: 12px;
    border-left: 1px solid #e2e2e2;
}


/* THISPAGE */

.thispage__chain {
    font-size: 11px;
    font-weight: 400;
    color: #878787;
    text-transform: uppercase;
    margin: 30px 0;
}

.thispage__name {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 40px;
}


/* FILTERS */

.filters__inner {
    background-color: white;
    padding-left: 30px;
    padding-bottom: 30px;
}

.filters__top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.filters__list {
    list-style-type: none;
}

.filters__top p {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.filters__list li {
    float: left;
    padding: 15px;
}

.filters__list li a {
    color: black;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.filters__select p {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.filters__bottom {
    display: flex;
}

.filters__select {
    display: flex;
    align-items: baseline;
}

.filters__select p {
    margin-right: 5px;
}

.filters__select select {
    height: 35px;
    width: 165px;
    border: none;
    background-color: #efefef;
    color: #adadad;
    margin-right: 16px;
}


/* cards */

.cards__inner {
    display: flex;
    flex-wrap: wrap;
}

.cards__box {
    height: 500px;
    width: 360px;
    margin: 10px;
    padding: 33px;
    border: 3px solid #f3f3f3;
    border-radius: 5px;
    position: relative;
}

.image__container {
    position: relative;
}

.cards__notify-box {
    position: absolute;
    z-index: 10;
    left: 23px;
    top: 13px;
}

.cards__notify {
    padding: 7px 6px;
    max-width: max-content;
    color: white;
    font-size: 12px;
    font-weight: 700;
    margin: 3px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.green-notify {
    background-color: #15bb67;
}

.blue-notify {
    background-color: #1976d2;
}

.red-notify {
    background-color: #ee2622;
}

.grey-notify {
    background-color: #e5e5e5;
    padding: 7px 6px;
    max-width: max-content;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
}

.image-button {
    position: absolute;
    background-color: rgba(241, 133, 70, 0.78);
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    z-index: 10;
    bottom: 0;
    width: 100%;
}

.cards__image {
    width: 100%;
    height: auto;
}

.cards__title {
    margin: 25px 0 0;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.cards__vendorcode {
    color: #adadad;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
}

.cards__vendorcode span {
    color: #1976d2;
}

.cards-available {
    margin: 22px 10px 25px 0;
    display: inline-block;
}

.cards__price {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    margin-right: 5px;
}

.cards__price span {
    font-size: 23px;
    font-weight: 700;
    color: #fa7a2c;
}

.cards__oldprice {
    color: #989898;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    margin-right: 5px;
}

.cards__oldprice span {
    text-decoration: line-through;
    font-size: 18px;
    font-weight: 700;
}

.product__size {
    font-size: 14px;
    font-weight: 700;
}

.product__size span {
    font-size: 12px;
    text-transform: uppercase;
}

.hidden-paragraph{
    display: none;
}

.cards__box:hover {
    z-index: 11;
    height: max-content;
    position: absolute;
}

.cards__box:hover .hidden-paragraph{
    display: block;
}

.cards__wrapper{
    max-width: 33%;
    width: 100%;
}


/* FOOTER */

.footer {
    background-color: #163052;
    color: #9f9f9f;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 85px 0 70px 0;
}

.footer__title {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    margin-bottom: 35px;
}

.footer__catalog {
    width: 215px;
}

.footer__info {
    width: 185px;
}

.footer__contacts {
    width: 165px;
}

.footer__about {
    width: 365px;
}

.footer__link {
    text-decoration: none;
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.footer__info p span {
    font-size: 18px;
    font-weight: 700;
}

.footer__contacts p span {
    font-size: 11px;
    font-weight: 400;
}

.footer__title:last-child {
    margin: 30px 0 25px;
}

.input__form {
    display: flex;
    height: 100%;
    max-height: 44px;
    max-width: 357px;
    outline: none;
    position: relative;
    top: -5px;
}

.input__area {
    flex-grow: 2;
    border: none;
    max-width: 357px;
    padding-left: 20px;
}

.input__button {
    outline: none;
    position: absolute;
    z-index: 2;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    height: 100%;
    width: 100%;
    max-width: 145px;
    max-height: 38px;
    top: 3px;
    right: 3px;
    background-color: #163052;
    color: #ffffff;
    border: none;
}

.footer__about p span {
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
}

.footer__about p:last-child {
    margin-top: 25px;
    color: white;
}
